[Unit]
Description=FoxDNS
StartLimitIntervalSec=0
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
Environment=PUID=1337
Environment=PGID=1337
WorkingDirectory=/opt/foxdns
ExecStart=/opt/foxdns/foxdns

[Install]
WantedBy=multi-user.target
